asgiref==3.3.1
astroid==2.5.1
bcrypt==3.2.0
boto==2.49.0
CacheControl==0.12.6
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
dj-database-url==0.5.0
Django==3.1.7
django-gcloud-storage==0.4.0
django-rest-framework==0.1.0
djangorestframework==3.12.2
google-api-core==1.26.1
google-auth==1.28.0
google-cloud-core==1.6.0
google-cloud-storage==1.36.2
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
idna==3.1
lazy-object-proxy==1.5.2
msgpack==1.0.2
packaging==20.9
Pillow==8.1.2
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
whitenoise==5.2.0
wrapt==1.12.1
